.alert {
  align-items: center;
  animation: slide-in 500ms;
  background: #eee;
  border-left: 7px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0 0 0 / 20%);
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  gap: 1rem;
  line-height: 1.3;
  margin-left: 10px;
  padding: 20px;
  padding-right: 25px;
  position: fixed;
  right: 20px;
  top: 20px;
  transition: all 0.3s;
  width: 300px;
  z-index: 100000;
}

.alert.dismissed {
  animation: slide-out 500ms;
  opacity: 0;
  visibility: hidden;
}

.alert.big {
  font-size: 1rem;
  width: auto;
}

.alert.update {
  justify-content: center;
  z-index: 100001;
}

.alert .close {
  align-items: center;
  border: none;
  color: #999;
  display: flex;
  font-size: 1.2em;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

.alert .close:hover {
  color: #000;
}

.alert p {
  padding-right: 20px;
}

.alert.alert-info {
  border-color: var(--color-info);
}

.alert.alert-danger {
  border-color: var(--color-danger);
}

.alert.alert-success {
  border-color: var(--color-success);
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(400px);
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: translateX(400px);
    visibility: hidden;
  }
}
