.game-header {
  align-items: center;
  display: flex;
  font-family: var(--font-caveat), Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
  padding-top: 2rem;
}

.turn-title {
  font-size: 2.5rem;
  margin: 0;
}

.counts {
  display: flex;
  gap: 2rem;
}

.counts--objects {
  display: none;
}

.board-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 6fr 1fr;
  margin: 0 auto;
  max-width: var(--content-width);
  padding: 2rem 0;
  position: relative;
}

.objects {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(6, 1fr);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.board {
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  margin: 0;
  padding: 0 1rem;
}

.card {
  align-items: center;
  background-color: var(--color-card);
  border: 0.5rem solid white;
  border-radius: 2rem;
  box-shadow: 2px 4px 4px 0 rgba(0 0 0 / 20%);
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 2.5rem;
  height: 100%;
  justify-content: center;
  padding: 1rem;
  padding-top: 1.2rem;
  position: relative;
  text-shadow: 1px 1px 2px black;
  transition: box-shadow 0.5s ease-in-out;
  width: 100%;
}

.card:hover:not(.card--disabled) {
  box-shadow: 4px 8px 8px 0 rgba(0 0 0 / 20%);
}

.card:active:not(.card--disabled) {
  box-shadow: 2px 4px 4px 0 rgba(0 0 0 / 20%);
}

.card--draw {
  animation: pulse 2s infinite;
  font-size: 2.7rem;
}

.card.card--disabled {
  cursor: initial;
}

.board:not(.board--draw) .card:not(.card--active) {
  opacity: 0.6;
}

.board--active .card.card--active {
  animation: pulse 2s infinite;
}

.card.card--object {
  background-color: var(--color-object);
}

.card.card--object-revealed {
  background-color: var(--color-success);
}

.card.card--enemy-barco {
  background-color: var(--color-danger);
  border-color: var(--color-barco);
}

.card.card--enemy-sol {
  background-color: var(--color-danger);
  border-color: var(--color-sol);
}

.card.card--object.card.card--enemy-barco {
  background-color: var(--color-danger);
  border-color: var(--color-barco);
  box-shadow: inset 0 0 0 5px #fff;
}

.card.card--object.card.card--enemy-sol {
  background-color: var(--color-danger);
  border-color: var(--color-sol);
  box-shadow: inset 0 0 0 5px #fff;
}

.enemy-rows {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(6, 1fr);
  list-style: none;
  margin: 0;
  min-width: 156px;
  padding-left: 0;
}

.game-actions {
  display: none;
  inset: 0;
  position: absolute;
  text-align: center;
}

.game-actions.show {
  display: block;
}

.game-actions .btn {
  box-shadow: 4px 8px 8px 0 rgba(0 0 0 / 20%);
}

.game-actions .btn:hover {
  box-shadow: 8px 16px 16px 0 rgba(0 0 0 / 20%);
}

.players {
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 1px 1px 0 1px black;
  display: inline-flex;
  font-size: 1.5rem;
  height: 2.4rem;
  justify-content: center;
  width: 2.4rem;
  z-index: 999;
}

.players--barco {
  background-color: var(--color-barco);
}

.players--sol {
  background-color: var(--color-sol);
}

.card .players {
  font-size: 2rem;
  height: 3rem;
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0 0 0 / 70%);
    transform: scale(0.95);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0 0 0 / 0%);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0 0 0 / 0%);
    transform: scale(0.95);
  }
}

@media screen and (width <= 1350px) {
  .game-header {
    flex-direction: column;
    font-size: 2rem;
    gap: 1rem;
    justify-content: center;
  }

  .turn-title {
    font-size: 2rem;
  }

  .board-wrapper {
    display: block;
    padding-bottom: 150px;
    position: relative;
  }

  .objects {
    display: none;
  }

  .counts--objects {
    display: block;
  }

  .board {
    border: 0;
    margin: 0 auto;
    max-width: 1000px;
  }

  .board--active.board--draw {
    opacity: 0.7;
  }

  .enemy-rows {
    bottom: 1rem;
    display: block;
    position: absolute;
    right: 1rem;
  }

  .enemy-rows--top {
    bottom: unset;
    top: 1rem;
  }

  @media screen and (orientation: portrait) {
    .game-header,
    .board-wrapper {
      min-width: 660px;
    }

    .board {
      padding: 0 1rem;
    }
  }
}

@media screen and (width <= 800px) {
  .card.btn {
    font-size: 2.5rem;
  }
}
