.footer {
  background-color: var(--color-footer);
  color: #000;
  flex-shrink: 0;
  font-size: 1.125rem;
  padding: 2rem;
}

.footer .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__text:last-child {
  text-align: right;
}

.footer__link {
  color: inherit;
}

.footer__logo {
  width: 1.5rem;
}

.footer__mobile-break {
  display: none;
}

@media screen and (width <= 1350px) {
  .footer .content {
    flex-direction: column-reverse;
    gap: 1rem;
    justify-content: center;
    text-align: center;
  }

  .footer__text:last-child {
    text-align: center;
  }

  .footer__mobile-break {
    display: block;
  }
}
