:root {
  --color-danger: red;
  --color-success: #3bae59;
  --color-info: #0077ed;
  --color-bg: wheat;
  --color-footer: #fbeee0;
  --color-header: #fbeee0;
  --color-btn: #fbeee0;
  --color-btn-border: #422800;
  --color-card: cadetblue;
  --color-object: darksalmon;
  --color-barco: #26547c;
  --color-sol: #f4b942;
}
