<crabe-loader class="loader" aria-hidden="true">
  <span class="loader-message" role="alert" data-js="message"></span>
  <div class="spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</crabe-loader>
