---
import { Image } from "astro:assets";

import { useTranslations } from "../../i18n/utils";
import { labels, locales, type Locale } from "../../i18n/config";

import Dropdown from "../Dropdown/Dropdown.astro";

import langaugeIcon from "../../assets/language.svg";

const t = useTranslations(Astro.currentLocale as Locale);
---

<crabe-lang-menu>
  <button
    id="button-lang"
    type="button"
    aria-controls="dropdown-lang"
    title={t("Labels.change-language")}
    class="language-button"
    aria-expanded="false"
    data-js="toggler"
  >
    <Image class="img-fluid" src={langaugeIcon} alt="" height="20" width="20" />
  </button>
  <Dropdown id="dropdown-lang">
    <ul role="menu" aria-labelledby="button-lang">
      {
        locales.map((localeOption) => {
          if (localeOption === Astro.currentLocale) return null;
          return (
            <li role="menuitem">
              <button
                type="button"
                data-locale={localeOption}
                lang={localeOption}
              >
                {labels[localeOption]}
              </button>
            </li>
          );
        })
      }
    </ul>
  </Dropdown>
</crabe-lang-menu>
