---
import type { Locale } from "../../i18n/config";
import { useTranslations } from "../../i18n/utils";

import Modal from "../Modal/Modal.astro";

const rows = [0, 1, 2, 3, 4, 5];
const columns = [0, 1, 2, 3, 4, 5];

const t = useTranslations(Astro.currentLocale as Locale);
---

<crabe-game-board class="loading">
  <div class="board-wrapper">
    <ol class="objects" data-js="objects"></ol>
    <ol class="board" data-js="board">
      {
        rows.map((_) =>
          columns.map((_) => (
            <li class="card-wrapper">
              <button type="button" class="card" data-js="card" />
            </li>
          )),
        )
      }
    </ol>
    <ol class="enemy-rows" data-js="enemies"></ol>
    <Modal id="game-actions">
      <div slot="footer" class="game-actions-footer">
        <button type="button" class="btn" data-js="restart">
          {t("Messages.game-again")}
        </button>
      </div>
    </Modal>
  </div>
</crabe-game-board>
