<crabe-game-board>
  <div class="board-wrapper">
    <ol class="objects" data-js="objects"></ol>
    <ol class="board" data-js="board"></ol>
    <ol class="enemy-rows" data-js="enemies"></ol>
    <div class="game-actions" data-js="actions">
      <div class="new-game">
        <button type="button" class="btn" data-js="restart"> </button>
      </div>
    </div>
  </div>
</crabe-game-board>
